<div class="page-header">
  <h2> <%= @client.name() %></h2>
</div>
<% if @client.stylist() == nil || @client.stylist == 'NULL' %>
<h3>Stylist is not yet assigned for this client</h3>
<% else %>
<h3>Stylist: <a href="/stylist/<%= @client.stylist().id() %>"><%= @client.stylist().name() %></a></h3>
<% end %>
<form action="/assign_stylist" method="post">
  <label for="stylist_id">Add/change stylist</label>
  <select id='stylist_id' name='stylist_id' type='text'>
    <% @all_stylists.each() do |stylist| %>
      <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
    <% end %>
  </select>
  <button type="submit">Add/change stylist</button>
</form>
